[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/eliesser/products-app-client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/eliesser/products-app-products-ms.git
